<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board</title>

    <script>
        import ("{{url_for('static', filename='boot.js')}}").then(
            module => {
                   module.append_game_to_element("fragment_wrapper");
            }
        );
    </script>
</head>
<body>

<div style="display:none" id="boot_info">
    <p id="boot_info_username">{escape(boot_info.username)}</p>
    <p id="boot_info_room_id">{{boot_info.room_id}}</p>
</div>

 <div id="fragment_wrapper">
     <!--This section is filled programmatically-->
 </div>

<svg id="svg-defs">
    <!--This section is filled programmatically with svg defs. Like gradients-->
</svg>
</body>
</html>