<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stratego - Play Online</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<header>
  <h1><a href="/">Stratego</a></h1>
  <nav>
      <ul>
          <li><a href="/create_room">Create Room</a></li>
          <li><a href="/room_search">Room Search</a></li>
          <li><a href="/browse_rooms">Room Browser</a></li>
      </ul>
  </nav>
</header>

<main>
  <!-- Main content here -->
</main>

<footer>
  Absolute lack of Copyright © 2024 Stratego
</footer>



</body>
</html>