<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='menu.css')}}">
</head>
<body>
    <div id="login_form_container" class="w-screen h-screen flex flex-col justify-center items-center">
        <h1 class="text-3xl font-bold mb-4 text-center text-blue-600">Login</h1>
        <form id="login_form" class="flex justify-center items-center" action="/login" method="post">
            <input type="text" name="username" id="login_form_username" placeholder="Your Login" class="border bg-white hover:bg-gray-100 focus:outline-none focus:bg-gray-200 px-4 py-2 rounded-l">
            <input type="text" name="password" id="login_form_password" placeholder="Your Password" class="border bg-white hover:bg-gray-100 focus:outline-none focus:bg-gray-200 px-4 py-2 rounded-l">
            <input type="submit" id="login_submit" value="Log in" class="border bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
        </form>

        <div>
            <comment>Don't have an account yet? You can register one</comment>
            <a id="login_register_link" href="/register" class="text-blue font-bold"> here.</a>
        </div>
        <div>
            <comment>Don't want to have an account? </comment>
            <a id="login_guest_link" href="/guest_login" class="font-bold">Log in as guest.</a>
        </div>
    </div>

</body>
</html>