<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Email Verification</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='menu.css')}}">
  </head>
  <body>
    <!-- Email verification message -->
    <div class="flex flex-col justify-center items-center h-screen">
      <h1 class="text-4xl font-bold mb-4 text-center text-blue-600">Email Verification</h1>
      <p class="text-lg mb-4 text-gray-700">We've sent a verification email to the address you used during registration. Please click the link in the email to complete your registration.</p>
    </div>
  </body>
</html>