<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='menu.css')}}">
    <title>Room Browser</title>
</head>
<body>

  <form id="room_filter" action="/browse_rooms" method="POST">

    <label for="game_phase_filter">Filter by game phase:</label>
    <select id="game_phase_filter" name="game_phase_filter">
      <option value="all"       {{selected_game_phase["all"]}}>all</option>
      <option value="awaiting"  {{selected_game_phase["awaiting"]}}>awaiting</option>
      <option value="setup"     {{selected_game_phase["setup"]}}>setup</option>
      <option value="gameplay"  {{selected_game_phase["gameplay"]}}>gameplay</option>
      <option value="finished"  {{selected_game_phase["finished"]}}>finished</option>
    </select>

    <label for="hide_password_protected_rooms">Hide password protected rooms</label>
    <input type="checkbox" id="hide_password_protected_rooms" name="hide_password_protected_rooms" {{hide_password_protected_rooms_value}}>

    <input type="submit" value="Filter" class="border bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
  </form>

    {% block content %}
  <h1>Browse Rooms</h1>

      {% for room in rooms %}
     <div class="bg-white p-4 rounded-lg shadow-md">
        <h2 class="text-lg font-bold">{{room.id}}</h2>
        <p class="text-gray-600">{{ room.game_phase }}</p>
        {% if room.password_required %}
          <span class="text-red-500">🔒 Password Protected</span>
        {% endif %}
        <div class="flex items-center justify-between">
          <span>{{ room.user_count }} users</span>
          <a href="{{ url_for('get_room_info', room_id=room.id) }}" class="btn bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Join</a>
        </div>
     </div>
      {% endfor %}

    {% endblock %}

</body>
</html>